#Traitement des données

In [3]:
import pandas as pd
import glob

In [2]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/canonn/Documents/github/my-portfolio/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/canonn/Documents/github/my-portfolio/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Using cached numpy-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
Using cached pytz-2025.1-py2.py3-none-any.whl (507 kB)
Using cached tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

In [12]:
#Reading the JSON File 
file_list = glob.glob('../data/raw/data_commune*.json')
print(file_list)

data_frames = [pd.read_json(file) for file in file_list]
df = pd.concat(data_frames)
    
df.head()

['../data/raw/data_commune_12032025.json']

,geo_point_2d,geo_shape,year,reg_code,reg_name,dep_code,dep_name,arrdep_code,arrdep_name,ze2020_code,...,com_au2010_code,com_cateaav2020_code,com_cateaav2020_name,com_uu2020_code,com_uu2020_status,com_aav2020_code,com_cv_code,com_in_ctu,com_siren_code,com_is_mountain_area
0,"{'lon': 2.063226732075124, 'lat': 45.445282333...","{'type': 'Feature', 'geometry': {'coordinates'...",2024,[75],[Nouvelle-Aquitaine],[19],[Corrèze],[193],[Ussel],[0063],...,NaN,20.0,Commune de la couronne,19000,hors unité urbaine,499,1912,Non,NaN,Oui
1,"{'lon': 4.596669285873805, 'lat': 46.987850313...","{'type': 'Feature', 'geometry': {'coordinates'...",2024,[27],[Bourgogne-Franche-Comté],[21],[Côte-d'Or],[211],[Beaune],[2704],...,NaN,30.0,Commune hors attraction des villes,21000,hors unité urbaine,000,2101,Non,NaN,Non
2,"{'lon': 5.355638135542026, 'lat': 47.439247940...","{'type': 'Feature', 'geometry': {'coordinates'...",2024,[27],[Bourgogne-Franche-Comté],[21],[Côte-d'Or],[212],[Dijon],[2711],...,NaN,20.0,Commune de la couronne,21000,hors unité urbaine,028,2121,Non,NaN,Non
3,"{'lon': 4.9564962791807865, 'lat': 47.23884419...","{'type': 'Feature', 'geometry': {'coordinates'...",2024,[27],[Bourgogne-Franche-Comté],[21],[Côte-d'Or],[211],[Beaune],[2711],...,NaN,20.0,Commune de la couronne,21110,unité urbaine,028,2118,Non,NaN,Non
4,"{'lon': 4.7137360827879835, 'lat': 47.35630469...","{'type': 'Feature', 'geometry': {'coordinates'...",2024,[27],[Bourgogne-Franche-Comté],[21],[Côte-d'Or],[212],[Dijon],[2711],...,NaN,20.0,Commune de la couronne,21000,hors unité urbaine,028,2123,Non,NaN,Non

In [13]:
df = df.drop(columns=['geo_point_2d','geo_shape','year', 'arrdep_code', 'arrdep_name', 'ze2020_code','ze2020_name','bv2022_code','bv2022_name','epci_code','epci_name'
                 ,'ept_code','ept_name', 'com_area_code','ze2010_name','ze2010_code','com_cataeu2010_code','com_cataeu2010_name','com_uu2010_code','com_uu2010_status',
                 'com_au2010_code','com_cateaav2020_code','com_cateaav2020_name', 'com_uu2020_code','com_uu2020_status','com_aav2020_code','com_cv_code','com_in_ctu',
                 'com_siren_code','com_is_mountain_area'])
list_columns = df.columns
print(list_columns)
df.head()

Index(['reg_code', 'reg_name', 'dep_code', 'dep_name', 'com_code',
       'com_current_code', 'com_name', 'com_name_upper', 'com_name_lower',
       'com_type'],
      dtype='object')

,reg_code,reg_name,dep_code,dep_name,com_code,com_current_code,com_name,com_name_upper,com_name_lower,com_type
0,[75],[Nouvelle-Aquitaine],[19],[Corrèze],[19263],[19263],[Soudeilles],SOUDEILLES,soudeilles,commune
1,[27],[Bourgogne-Franche-Comté],[21],[Côte-d'Or],[21032],[21032],[Aubigny-la-Ronce],AUBIGNY-LA-RONCE,aubigny-la-ronce,commune
2,[27],[Bourgogne-Franche-Comté],[21],[Côte-d'Or],[21079],[21079],[Blagny-sur-Vingeanne],BLAGNY-SUR-VINGEANNE,blagny-sur-vingeanne,commune
3,[27],[Bourgogne-Franche-Comté],[21],[Côte-d'Or],[21110],[21110],[Brochon],BROCHON,brochon,commune
4,[27],[Bourgogne-Franche-Comté],[21],[Côte-d'Or],[21121],[21121],[Bussy-la-Pesle],BUSSY-LA-PESLE,bussy-la-pesle,commune

In [17]:
# Table region
df_region = df[['reg_code','reg_name']]
df_region['reg_code'] = df['reg_code'].apply(lambda x: x[0])
df_region['reg_name'] = df['reg_name'].apply(lambda x: x[0])
df_region = df_region.drop_duplicates().reset_index()
df_region = df_region[['reg_code','reg_name']]
df_region.head()

#df_region = df[['reg_code','reg_name']]
#df_region['reg_code'] = df_region['reg_code']
#df_region.drop_duplicates()
#

# Table departement
#df_departement = df[['dep_code','dep_name','reg_code']]
#df_departement.drop_duplicates()
#df_departement.to_parquet(path='data\\silver\\departement.parquet')

# Table villes
#df_villes = df[['dep_code','com_code','com_name_upper']]
#df_villes = df_departement.drop_duplicates()
#df_villes.to_parquet(path='data\\silver\\villes.parquet')

/tmp/ipykernel_13927/1734914505.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_region['reg_code'] = df['reg_code'].apply(lambda x: x[0])
/tmp/ipykernel_13927/1734914505.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_region['reg_name'] = df['reg_name'].apply(lambda x: x[0])

  reg_code                 reg_name
0       75       Nouvelle-Aquitaine
1       27  Bourgogne-Franche-Comté
2       53                 Bretagne
3       84     Auvergne-Rhône-Alpes
4       28                Normandie

In [20]:
df_region = df_region.rename(columns={"reg_code" : "REGION_CD","reg_name":"REGION_LB"})
df_region.head()

  REGION_CD                REGION_LB
0        75       Nouvelle-Aquitaine
1        27  Bourgogne-Franche-Comté
2        53                 Bretagne
3        84     Auvergne-Rhône-Alpes
4        28                Normandie

In [ ]:
# Transposée d'une colonne :
pd.melt(df_region)

     variable                                        value
0   REGION_CD                                           75
1   REGION_CD                                           27
2   REGION_CD                                           53
3   REGION_CD                                           84
4   REGION_CD                                           28
5   REGION_CD                                           24
6   REGION_CD                                           32
7   REGION_CD                                           94
8   REGION_CD                                           76
9   REGION_CD                                           93
10  REGION_CD                                           44
11  REGION_CD                                           52
12  REGION_CD                                           11
13  REGION_CD                                           01
14  REGION_CD                                           06
15  REGION_CD                                           02
16  REGION_CD                                           03
17  REGION_CD                                           04
18  REGION_CD                                          978
19  REGION_CD                                          975
20  REGION_CD                                          984
21  REGION_CD                                          986
22  REGION_CD                                          977
23  REGION_CD                                          989
24  REGION_LB                           Nouvelle-Aquitaine
25  REGION_LB                      Bourgogne-Franche-Comté
26  REGION_LB                                     Bretagne
27  REGION_LB                         Auvergne-Rhône-Alpes
28  REGION_LB                                    Normandie
29  REGION_LB                          Centre-Val de Loire
30  REGION_LB                              Hauts-de-France
31  REGION_LB                                        Corse
32  REGION_LB                                    Occitanie
33  REGION_LB                   Provence-Alpes-Côte d'Azur
34  REGION_LB                                    Grand Est
35  REGION_LB                             Pays de la Loire
36  REGION_LB                                Île-de-France
37  REGION_LB                                   Guadeloupe
38  REGION_LB                                      Mayotte
39  REGION_LB                                   Martinique
40  REGION_LB                                       Guyane
41  REGION_LB                                   La Réunion
42  REGION_LB                                 Saint-Martin
43  REGION_LB                     Saint-Pierre-et-Miquelon
44  REGION_LB  Terres australes et antarctiques françaises
45  REGION_LB                             Wallis et Futuna
46  REGION_LB                             Saint-Barthélemy
47  REGION_LB                            Île de Clipperton

In [29]:
#Tri des colonnes par ordre croissant ou décroissant
df_region.sort_values(by="REGION_CD",ascending=False).reset_index().drop(columns=["index"]).head(10)

  REGION_CD                                    REGION_LB
0       989                            Île de Clipperton
1       986                             Wallis et Futuna
2       984  Terres australes et antarctiques françaises
3       978                                 Saint-Martin
4       977                             Saint-Barthélemy
5       975                     Saint-Pierre-et-Miquelon
6        94                                        Corse
7        93                   Provence-Alpes-Côte d'Azur
8        84                         Auvergne-Rhône-Alpes
9        76                                    Occitanie

In [43]:
#df_region[df_region["REGION_CD"] > "80"]  
#df_region[df_region["REGION_LB"].str.startswith("C")] 
df_region[(df_region["REGION_CD"] > "80") & (df_region["REGION_LB"].str.startswith("C"))]

  REGION_CD REGION_LB
7        94     Corse

In [52]:
df_region.iloc[:, [1]].head(5)

                 REGION_LB
0       Nouvelle-Aquitaine
1  Bourgogne-Franche-Comté
2                 Bretagne
3     Auvergne-Rhône-Alpes
4                Normandie

In [ ]:
# Accéder à une valeur particulière
df_region.iat[0, 1]

'Nouvelle-Aquitaine'

In [ ]:
df_region["REGION_LB"].apply(lambda a : a.upper()).head(5)
# Function similaire : df_region["REGION_LB"].str.upper().head(5)

0         NOUVELLE-AQUITAINE
1    BOURGOGNE-FRANCHE-COMTÉ
2                   BRETAGNE
3       AUVERGNE-RHÔNE-ALPES
4                  NORMANDIE
Name: REGION_LB, dtype: object

In [59]:
df_region["REGION_CD"].values

array(['75', '27', '53', '84', '28', '24', '32', '94', '76', '93', '44',
       '52', '11', '01', '06', '02', '03', '04', '978', '975', '984',
       '986', '977', '989'], dtype=object)

In [64]:
df_region[df_region["REGION_CD"].isin(["75"])]

  REGION_CD           REGION_LB
0        75  Nouvelle-Aquitaine

In [70]:
# Compter le nombre d'occurence par champs
df_region["REGION_LB"].value_counts().head(5)

REGION_LB
Nouvelle-Aquitaine         1
Bourgogne-Franche-Comté    1
Bretagne                   1
Auvergne-Rhône-Alpes       1
Normandie                  1
Name: count, dtype: int64

In [ ]:
df_region['NEW_COLUMN'] = df_region["REGION_LB"].apply(lambda a : a[0]) 
df_region.head(5)

  REGION_CD                REGION_LB NEW_COLUMN
0        75       Nouvelle-Aquitaine          N
1        27  Bourgogne-Franche-Comté          B
2        53                 Bretagne          B
3        84     Auvergne-Rhône-Alpes          A
4        28                Normandie          N

In [ ]:
# utilisation du groupe by sur le champs "NEW_COLUMN"
df2 = df_region.groupby("NEW_COLUMN")["REGION_CD"].count()
df2

NEW_COLUMN
A    1
B    2
C    2
G    3
H    1
L    1
M    2
N    2
O    1
P    2
S    3
T    1
W    1
Î    2
Name: REGION_CD, dtype: int64

In [93]:
df_region[(df_region["REGION_CD"] > "80") & (df_region["REGION_LB"].str.startswith("C"))].groupby("NEW_COLUMN")["REGION_CD"].count()

NEW_COLUMN
C    1
Name: REGION_CD, dtype: int64

In [9]:
df_region.to_parquet(path='data\\silver\\region.parquet')